* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    max-width: 100%;
    overflow-x: hidden;
}

a,
a:hover,
a:active {
    text-decoration: none;
}

.header {
    width: 100%;
    height: 90px;
    display: flex;
    background-color: #0C2B4B;
}

.logo {
    background-color: #F3BD00;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 249px;
    height: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 93% 100%, 0% 100%);
}

nav {
    display: flex;
    align-items: center;
}

.nav>a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    margin-right: 35px;
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 6px;
}

.activ {
    border-bottom: 2px solid #F3BD00;
}

.nav>a:hover {
    border-bottom: 2px solid #F3BD00;
}

.nav:nth-of-type(3) {
    position: relative;
}

.nav:nth-of-type(3):hover .sub-menu {
    transform: scaley(1);
}

.sub-menu {
    list-style-type: none;
    position: absolute;
    left: 0;
    top: 24px;
    background-color: #F3BD00;
    width: 150px;
    height: auto;
    padding: 27px 0;
    display: flex;
    flex-direction: column;
    transform: scaley(0);
    transition: 0.4s;
    transform-origin: top;
}

.sub-menu a {
    width: 100%;
    padding: 9px 20px;
    color: white;
    text-align: left;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
}

.wrapper {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.icon-wrapper {
    width: 200px;
    display: flex;
    margin-right: 30px;
}

.icon-wrapper>a:nth-of-type(1) {
    position: relative;
}

.icon-wrapper>a:nth-of-type(1)::after {
    content: "";
    width: 18px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    transform: rotate(90deg);
    bottom: 9px;
    left: 19px;
}

.icon-wrapper i {
    color: white;
    font-size: 16px;
    margin-right: 20px;
}

.button {
    width: 149px;
    height: 49px;
    background-color: #F3BD00;
}

.button>a {
    width: 100%;
    height: 100%;
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-sec {
    width: 100%;
    height: calc(100vh - 90px);
    background-image: url('assets/hero-bg.jpg.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.first-sec>* {
    margin-bottom: 26px;
    color: white;
    text-transform: uppercase;
}

.first-sec>h5 {
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 18px;
}

.first-sec>h1 {
    font-size: 38px;
    font-weight: 900;
    font-style: italic;
}

.link1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first-sec a {
    width: 149px;
    height: 49px;
    color: white;
    background-color: #F3BD00;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-sec a:nth-of-type(2) {
    background-color: #0C2B4B;
    margin-left: 20px;
}

.sec-sec {
    width: 100%;
    height: auto;
    padding: 67px 100px;
    display: flex;
    align-items: center;
}

.feature {
    display: flex;
    flex-direction: column;
    width: 33%;
}

.feature>*,
.lessons>* {
    margin-bottom: 25px;
}

.feature>p:nth-of-type(1),
.lessons>p:nth-of-type(1),
.forth-sec>p:nth-of-type(1),
.fifth-sec>p:nth-of-type(1),
.team p {
    color: #F3BD00;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.team p {
    margin-bottom: 15px;
}

.feature>h2,
.lessons>h2,
.forth-sec>h2,
.fifth-sec>h2,
.team h2 {
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    font-size: 30px;
}

.fifth-sec>h2 {
    color: white;
}

.feature>p:nth-of-type(2),
.lessons>p:nth-of-type(2) {
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
}

.feature>a,
.lessons>a,
.forth-sec>a,
.price-1>a,
.team a {
    width: 149px;
    height: 49px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0C2B4B;
}

.price-1>a {
    width: 200px;
    transition: 0.4s;
}

.colum-1,
.column-2 {
    display: flex;
    flex-direction: column;
    width: 33%;
    padding: 20px;
}

.img-1,
.img-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    background-color: #0C2B4B;
    width: 100%;
    margin-bottom: 20px;
}

.img-1>*,
.img-2>*,
.team>* {
    margin-bottom: 25px;
}

.img-1>h5,
.img-2>h5,
.column-2>h5 {
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
}

.column-2 {
    justify-content: center;
    align-items: center;
    background-color: #0C2B4B;
}

.column-2>*,
.forth-sec>*,
.fifth-sec>* {
    margin-bottom: 25px;
}

.third-sec {
    width: 100%;
    height: auto;
    display: flex;
    padding: 20px 100px;
    position: relative;
    z-index: 1;
}

.youtube {
    width: 50%;
    min-height: 390px;
    background-image: url('assets/video-bg.jpg.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.youtube>a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #F3BD00;
}

.youtube>a>i {
    font-size: 14px;
    color: #ffffff;
}

.lessons {
    width: 50%;
    border: 1px solid #e1e1e1;
    min-height: 390px;
    padding: 65px 70px;
    background-color: white;
}

.forth-sec {
    clip-path: polygon(50% 0, 100% 21%, 100% 100%, 50% 100%, 0 100%, 0% 21%);
    background: #f5f5f5;
    padding-top: 290px;
    margin-top: -190px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form>input,
.form>select {
    height: 50px;
    width: 240px;
    margin-right: 20px;
    border: 1px solid rgb(225, 225, 225);
    background: rgb(255, 255, 255);
    font-size: 14px;
    color: rgb(68, 68, 68);
    padding-left: 20px;
    margin-bottom: 30px;
}

.fifth-sec {
    width: 100%;
    height: auto;
    background-image: url('assets/pricing-bg.jpg.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 67px 100px;
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.price-1 {
    width: 33%;
    background: rgba(12, 43, 75, 0.3);
    text-align: center;
    padding: 40px 35px 35px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 30px;
    transition: 0.4s;
}

.price-1>p:nth-of-type(1) {
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.price-1>h2 {
    font-size: 50px;
    color: #f3bd00;
    font-weight: 700;
    margin-top: 4px;
    margin-bottom: 18px;
}

.price-1>h5 {
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    border-bottom: 1px solid rgba(225, 225, 225, 0.2);
    padding-bottom: 45px;
    margin-bottom: 25px;
}

.price-1>p:nth-of-type(2) {
    font-size: 14px;
    color: #ffffff;
    line-height: 36px;
    margin-bottom: 20px;
}

.price-1:hover {
    background: #0c2b4b;
}

.price-1:hover>a {
    background-color: #F3BD00;
}

.sixth-sec {
    padding: 100px;
    width: 100%;
    height: auto;
}

.team {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}

.box {
    width: 49%;
    border: 1px solid #e1e1e1;
    padding: 40px;
    margin-bottom: 30px;
    display: flex;
    min-height: 265px;
}

.box>div {
    display: flex;
    text-align: left;
    flex-direction: column;
    margin-left: 26px;
}

.box>div>h6 {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 18px;
}

.box>div>p:nth-of-type(1) {
    font-size: 14px;
    color: #f3bd00;
    display: block;
    margin-bottom: 12px;
}

.box>div>p:nth-of-type(2) {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 40px;
    font-weight: 400;
}

.icon-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon-box i {
    font-size: 16px;
    color: black;
    margin-right: 20px;
}

.box>img {
    object-fit: contain;
}

.footer {
    width: 100%;
    height: auto;
    background-color: #0c2b4b;
    padding-top: 70px;
}

.footer>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.footer h5 {
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 24px;
    font-size: 18px;
}

.footer ul {
    list-style-type: none;
}

.footer ul li a {
    color: #c4c4c4;
    font-size: 15px;
    line-height: 32px;
}

.footer img {
    margin-bottom: 27px;
}

.info p {
    color: #c4c4c4;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
}

.info ul {
    color: #c4c4c4;
    font-size: 15px;
    line-height: 36px;
}

.copyright {
    width: 85%;
    text-align: center;
}

.copyright>p {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px 0;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #c4c4c4;
    font-size: 14px;
}

.copyright a {
    color: #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    transition: 0.4s;
}

.copyright a:hover {
    color: #F3BD00;
    border-bottom: 1px solid #F3BD00;
}

.copyright i {
    color: red;
}

@media screen and (min-width:1002px) {
    .logo {
        margin-right: 10px;
        clip-path: polygon(0% 0%, 100% 0%, 89% 100%, 0% 100%);
        padding: 0 30px;
    }
    .header {
        padding-right: 20px;
    }
    .icon-wrapper {
        margin-right: 0;
        width: 176px;
    }
    .sec-sec {
        padding: 67px 16px;
    }
    .third-sec {
        padding: 20px 27px;
    }
    .sixth-sec {
        padding: 54px;
    }
    .lessons {
        padding: 46px 17px;
    }
}

@media screen and (min-width:768px) and ( max-width:1001px) {
    .nav {
        display: none;
    }
    .wrapper {
        display: none;
    }
    .sec-sec {
        padding: 67px 23px;
        justify-content: space-evenly;
    }
    .column-2 {
        text-align: center;
    }
    .feature>h2 {
        font-size: 25px;
    }
    .youtube {
        width: 100%;
    }
    .third-sec {
        padding: 18px 31px;
        flex-wrap: wrap;
    }
    .lessons {
        width: 100%;
    }
    .forth-sec {
        margin-top: -244px;
        padding-left: 50px;
        padding-right: 12px;
    }
    .form {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .form input:nth-of-type(1) {
        width: 32%;
    }
    .form input:nth-of-type(2) {
        width: 32%;
    }
    .form input:nth-of-type(3) {
        width: 30%;
    }
    .form input:nth-of-type(4) {
        width: 32%;
    }
    .form select:nth-of-type(1) {
        width: 32%;
        margin-right: 12px;
    }
    .form select:nth-of-type(2) {
        width: 30%;
    }
    .form>input {
        margin-right: 9px;
    }
    .fifth-sec {
        padding: 67px 31px;
    }
    .price {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .price-1 {
        width: 48%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .sixth-sec {
        padding: 60px 20px;
    }
    .box {
        width: 100%;
    }
}

@media screen and (min-width:426px) and (max-width:767px) {
    .nav {
        display: none;
    }
    .wrapper {
        display: none;
    }
    .first-sec>h1,
    .forth-sec>h2 {
        text-align: center;
    }
    .sec-sec,
    .forth-sec,
    .fifth-sec {
        padding-left: 38px;
        padding-right: 38px;
    }
    .feature {
        width: 100%;
    }
    .sec-sec {
        flex-wrap: wrap;
    }
    .colum-1 {
        width: 100%;
        padding: 0;
    }
    .column-2 {
        width: 100%;
    }
    .third-sec {
        padding: 18px 0px;
        flex-wrap: wrap;
    }
    .lessons {
        padding: 48px 36px;
        width: 100%;
    }
    .forth-sec {
        padding-top: 202px;
    }
    .form>input {
        margin-right: 0;
    }
    .form input:nth-of-type(1) {
        width: 100%;
    }
    .form input:nth-of-type(2) {
        width: 100%;
    }
    .form input:nth-of-type(3) {
        width: 100%;
    }
    .form input:nth-of-type(4) {
        width: 100%;
    }
    .form select:nth-of-type(1) {
        width: 100%;
        margin-right: 0;
    }
    .form select:nth-of-type(2) {
        width: 100%;
        margin-right: 0;
    }
    .price {
        flex-wrap: wrap;
    }
    .price-1 {
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0;
    }
    .sixth-sec {
        padding: 60px 10px;
    }
    .team {
        flex-direction: column;
        align-items: flex-start;
    }
    .box {
        padding: 25px;
        width: 100%;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .box>img {
        max-width: 100%;
        height: 150px;
        margin-bottom: 30px;
        object-fit: cover;
    }
    .box>div {
        margin-left: 48px;
    }
    .box>div>p:nth-of-type(2) {
        margin-bottom: 12px;
    }
    .list {
        width: 50%;
        margin-bottom: 30px;
    }
    .footer>div {
        justify-content: flex-start;
    }
    .info {
        width: 50%;
        margin-bottom: 30px;
    }
    .copyright {
        width: 100%;
        line-height: 2;
    }
    .copyright>p {
        margin-bottom: 0;
        padding: 20px 0 0 0;
    }
    .footer {
        padding: 70px 20px 20px 30px;
    }
    .youtube {
        width: 100%;
    }
}

@media screen and (min-width:376px) and (max-width:425px) {
    .nav {
        display: none;
    }
    .wrapper {
        display: none;
    }
    .first-sec>h1,
    .forth-sec>h2 {
        text-align: center;
    }
    .sec-sec,
    .forth-sec,
    .fifth-sec {
        padding-left: 38px;
        padding-right: 38px;
    }
    .feature {
        width: 100%;
    }
    .sec-sec {
        flex-wrap: wrap;
    }
    .colum-1 {
        width: 100%;
        padding: 0;
    }
    .column-2 {
        width: 100%;
    }
    .third-sec {
        padding: 18px 0px;
        flex-wrap: wrap;
    }
    .lessons {
        padding: 48px 36px;
        width: 100%;
    }
    .forth-sec {
        padding-top: 202px;
    }
    .form>input {
        margin-right: 0;
    }
    .form input:nth-of-type(1) {
        width: 100%;
    }
    .form input:nth-of-type(2) {
        width: 100%;
    }
    .form input:nth-of-type(3) {
        width: 100%;
    }
    .form input:nth-of-type(4) {
        width: 100%;
    }
    .form select:nth-of-type(1) {
        width: 100%;
        margin-right: 0;
    }
    .form select:nth-of-type(2) {
        width: 100%;
        margin-right: 0;
    }
    .price {
        flex-wrap: wrap;
    }
    .price-1 {
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0;
    }
    .sixth-sec {
        padding: 60px 10px;
    }
    .youtube {
        width: 100%;
    }
    .team {
        flex-direction: column;
        align-items: flex-start;
    }
    .box {
        width: 100%;
        padding: 25px;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .box>img {
        width: 100%;
        height: 200px;
        margin-bottom: 30px;
        object-fit: cover;
    }
    .box>div {
        margin-left: 0;
    }
    .box>div>p:nth-of-type(2) {
        margin-bottom: 12px;
    }
    .list {
        width: 100%;
        margin-bottom: 30px;
    }
    .footer {
        padding: 70px 20px 20px 30px;
    }
    .footer>div {
        justify-content: flex-start;
    }
    .info {
        width: 100%;
        margin-bottom: 30px;
    }
    .copyright {
        width: 100%;
        line-height: 2;
    }
    .copyright>p {
        margin-bottom: 0;
        padding: 20px 0 0 0;
    }
}

@media screen and (max-width:375px) {
    .nav {
        display: none;
    }
    .wrapper {
        display: none;
    }
    .first-sec>h1,
    .forth-sec>h2 {
        text-align: center;
    }
    .sec-sec,
    .forth-sec,
    .fifth-sec {
        padding-left: 38px;
        padding-right: 38px;
    }
    .feature {
        width: 100%;
    }
    .sec-sec {
        flex-wrap: wrap;
    }
    .colum-1 {
        width: 100%;
        padding: 0;
    }
    .column-2 {
        width: 100%;
    }
    .third-sec {
        padding: 18px 0px;
        flex-wrap: wrap;
    }
    .lessons {
        padding: 48px 36px;
        width: 100%;
    }
    .forth-sec {
        padding-top: 202px;
    }
    .form>input {
        margin-right: 0;
    }
    .form input:nth-of-type(1) {
        width: 100%;
    }
    .form input:nth-of-type(2) {
        width: 100%;
    }
    .form input:nth-of-type(3) {
        width: 100%;
    }
    .form input:nth-of-type(4) {
        width: 100%;
    }
    .form select:nth-of-type(1) {
        width: 100%;
        margin-right: 0;
    }
    .form select:nth-of-type(2) {
        width: 100%;
        margin-right: 0;
    }
    .price {
        flex-wrap: wrap;
    }
    .price-1 {
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0;
    }
    .sixth-sec {
        padding: 60px 10px;
    }
    .youtube {
        width: 100%;
    }
    .team {
        flex-direction: column;
        align-items: flex-start;
    }
    .box {
        width: 100%;
        padding: 25px;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .box>img {
        width: 100%;
        height: 200px;
        margin-bottom: 30px;
        object-fit: cover;
    }
    .box>div {
        margin-left: 0;
    }
    .box>div>p:nth-of-type(2) {
        margin-bottom: 12px;
    }
    .list {
        width: 100%;
        margin-bottom: 30px;
    }
    .footer {
        padding: 70px 20px 20px 30px;
    }
    .footer>div {
        justify-content: flex-start;
    }
    .info {
        width: 100%;
        margin-bottom: 30px;
    }
    .copyright {
        width: 100%;
        line-height: 2;
    }
    .copyright>p {
        margin-bottom: 0;
        padding: 20px 0 0 0;
    }
}